p{
	margin-bottom: 0.2rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  
  .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e3e7ed;
  border-radius: 0.25rem;
  }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem; }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #7987a1;
    content: "/"; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }

.breadcrumb-item.active {
  color: #7987a1; }
  
  .breadcrumb {
  background-color: #e5e9f2; }

.breadcrumb-style1,
.breadcrumb-style2,
.breadcrumb-style3 {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  }
  .breadcrumb-style1 .breadcrumb-item,
  .breadcrumb-style2 .breadcrumb-item,
  .breadcrumb-style3 .breadcrumb-item {
    font-size: 10px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    }
    .breadcrumb-style1 .breadcrumb-item a,
    .breadcrumb-style2 .breadcrumb-item a,
    .breadcrumb-style3 .breadcrumb-item a {
      color: #1c273c; }
      .breadcrumb-style1 .breadcrumb-item a:hover, .breadcrumb-style1 .breadcrumb-item a:focus,
      .breadcrumb-style2 .breadcrumb-item a:hover,
      .breadcrumb-style2 .breadcrumb-item a:focus,
      .breadcrumb-style3 .breadcrumb-item a:hover,
      .breadcrumb-style3 .breadcrumb-item a:focus {
        color: #0168fa; }
    .breadcrumb-style1 .breadcrumb-item.active,
    .breadcrumb-style2 .breadcrumb-item.active,
    .breadcrumb-style3 .breadcrumb-item.active {
      color: #0168fa; }
    .breadcrumb-style1 .breadcrumb-item + .breadcrumb-item::before,
    .breadcrumb-style2 .breadcrumb-item + .breadcrumb-item::before,
    .breadcrumb-style3 .breadcrumb-item + .breadcrumb-item::before {
      color: #97a3b9; }

.breadcrumb-style2 .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-style3 .breadcrumb-item + .breadcrumb-item::before {
  width: 16px;
  text-align: center;
  font-family: 'Ionicons'; }

.breadcrumb-style2 .breadcrumb-item + .breadcrumb-item::before {
  content: '\f3d1'; }

.breadcrumb-style3 .breadcrumb-item + .breadcrumb-item::before {
  content: '\f287'; }
  
  .content {
  padding: 20px; }
  @media (min-width: 992px) {
    .content {
      padding: 25px; } }
  @media (min-width: 1200px) {
    .content {
      padding: 30px; } }

@media (min-width: 992px) {
  .content-fixed {
    margin-top: 20px; } }
  
  @media (min-width: 992px) {
  .content-fixed {
    margin-top: 20px; } }
  
  .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }
  
.card{
	flex-direction: none;
}
.card-body {
  padding: 15px; }
  @media (min-width: 576px) {
    .card-body {
      padding: 20px; } }
 
 .top_div {
 	width: 100%;
 }
  .second_div {
 	width: 100%;
 }
 .col-mg-au{
 	margin: 0 auto;
 }
.border {
	width: 100%;
	display: table;
	padding: 20px;
}
.footer{
	border-top: 1px solid #e7e7e7;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(231, 231, 231);
    display: table;
    margin: 1rem auto 0 auto;
    width: 80%;
}
.foot_inner {
	padding-top: 0.5rem;
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
}
.foot_img{
	width: 12%;
}

.top_head {
	display: block;
}
.top_bttm{
	margin-top: 1.4rem;
	display: block;
 }
.top_id, .top_img2, .top_alias, .top_distance {
	display: table;
	margin: 0 auto;
}
.id_spn{
	font-weight: 500;
	font-size:16px;
}
.alias_spn{
	font-weight: 100;
	font-size: 14px;
    color: #7399d5;
}
.distance_spn{
	font-weight: 100;
	color: #8c8c8c;
	font-size: 13px;
}
.score_spn{
	color: #01CE61;
}
.rank_spn{
	position: absolute;
	top: 7%;
	left: 10%;
}
.rank{
	font-size: 16px;
	color: #898989;
	font-weight: 600
}
.total_div{
	margin-top: 20px;
}
.total_div::after{
    content: '';
    display: block;
	clear: both;
	margin-bottom: -5px;
}
.tab-content{
	margin-top: 5px;
}
.select_num{
	width: 10%;
	float: right;
}

.search_div{
	float: right;
	width: 20%;
	margin-right: 5px;
}

.search_in{
	border-right-style: none;
}

.search_btn{
	border:	1px solid #ced4da;
	border-left-style: none;
}
 .paginationBox{
	margin-top: 10px;
    float: right;
}
.mg-t-15 {
  margin-top: 15px; 
}

  
/* tab CSS */  
#tabs{
	width: 100%;
}
.project-tab {
    margin-top: 3%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}

.tab-pane{
	margin-top: 1%;
}

